<div class="cover">
    <%= content_tag :div, nil, style: "background-image: url(#{url_for(@user.cover_image_path)})", class: "cover-content" do %>
        <div class="cover-avatar">
            <div class="cover-avatar-image-wrapper">
                <%= image_tag(@user.profile_image_path, class: "avatar-image") %>
            </div>
        </div>
        <h1 class="cover-user-name"><%= @user.name %></h1>
    <% end %>

    <div class="cover-header">
        <div class="cover-header-content">
            <nav class="tabs">
                <%= menu_link_to "Timeline", "#posts" %>
                <%= menu_link_to "Friends <span>#{@user.friends.count}</span>".html_safe, "#friends" %>
            </nav>
        </div>
    </div>
</div>